<form [formGroup]="newCountryForm" (ngSubmit)="onSubmit()">
  <!-- Name -->
  <div>
    <label for="name">Nombre del País</label>
    <input type="text" id="name" formControlName="name" />
    <small *ngIf="name.invalid && name.touched" class="input-error">
      El nombre es requerido
    </small>
  </div>
  <!-- Capital -->
  <div>
    <label for="capital">Capital</label>
    <input type="text" id="capital" name="capital" formControlName="capital" />
  </div>
  <button type="submit" class="button button-sm">Añadir</button>
</form>
